*{
    padding: 0;
    margin: 0;
    
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfdfdf;
    min-height: 100vh;
    margin-bottom: 40px;
}


.footer{
    position: absolute;
    top: 100;
    margin-top: 30px;
    width: 100%;
}

main{
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    color: red;
}

.botonsito{
    margin-top: 70px;
}

.div-botons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}